.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px; 
  
  color: #fff;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn{
  background: #af0b4f;
  color: #fff;
  padding: 10px 40px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  margin: 30px;
  border-radius: 8px;
  border: 1px solid #af0b4f;
  transition: all 0.3s ease-in-out;
}

.btn:hover{
  transform: scale(1.1)
}

.App h3{
  text-decoration: underline;
}

.box{
  background-color: #fff;
  border-radius: 16px;
  color: #2f4d55;
  padding: 20px;
}

.App-presentation{
  font-size: 30px;
  line-height: 10px;
  margin: 50px auto 130px;
}

.App-avatar{
  border-radius: 50%;
}

.App-description{
  margin: 50px 100px;
}

.App-skills{
  margin: 20px 80px;
  display: flex;
}

.skills{
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.App-description p,
.skills p{
  text-align: justify;
}

.App-form{
  width: 600px;
  margin: 50px auto;
  padding: 40px;
}

.App-form label{
  display: inline;
  float: left;
}

.App-form input,
.App-form textarea{
  width: 100%;
  resize: vertical;
  margin-bottom: 20px;
}

.App-footer{
  width: 100%;
  display: flex;
  color: #fff;
  justify-content: center;
  padding: 10px;
  font-size: 16px;
  bottom: 0;
  align-items: center;
  margin-top: 30px;
}

.App-footer-img{
  margin-right: 15px;
}
